# Python bytecode cache directories
__pycache__/

# Virtual environment directory
/.venv/

# PyTorch Lightning checkpoints
/checkpoints/

# MNIST dataset directory
/MNIST/

# Hydra outputs
/outputs/

# Optuna database file
/optuna.db
